.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5px 0;
    padding: 0 10px;
  }