<!-- The first div is a centered box -->
<div class="centered-box">
    <!-- Logo Container -->
    <div class="logo-container text-center">
        <!-- Please replace the src to your actual logo path -->
        <img src="assets/videologo.png" alt="logo" class="logo"/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center my-4">创建账户</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="username">用户名</label>
                        <input type="text" id="username" class="form-control" formControlName="username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">密码</label>
                        <input type="password" id="password" class="form-control" formControlName="password">
                    </div>
                    <div class="form-group mb-4">
                        <label for="email">电子邮件</label>
                        <input type="email" id="email" class="form-control" formControlName="email">
                    </div>
                    <button type="submit" class="btn btn-success w-100 text-center" [disabled]="!registerForm.valid">创建账户</button>
                </form>
            </div>
        </div>
    </div>
</div>