.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .video-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .video-content {
    text-align: center;
    width: 640px; /* 务必和视频的宽度（width="640"）相等 */
  }
  
  .video-title {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
  }
  
  .video-description {
    font-size: 1.2em;
    color: gray;
  }
  
  .video-info {
    text-align: left;
  }